body {
  padding-top: 56px;
}
.hero-image {
  max-height: 550px;
}

.navbar-profile-pic {
  width: 30px;
}

.hero-gallery-img {
  background-image: url("./assets/fvQljS.jpg");
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.heroes-hub-home-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/overwatch-2020-game-4k-6r.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 350px;
}

.img-logo {
  height: 40px;
}

.img-logo-text {
  width: 256px;
}

/* CARD EROE */
.hero-card-custom {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
}

.hero-card-custom:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: #ffc107;
  z-index: 10;
}

.hero-card-custom:hover .card-title {
  color: #000;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
